<!--================== Header Section Start ==================-->
<header class="navigation border-bottom">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="mailto:ericalopezhaz@gmail.com">
        <i class="far fa-envelope"></i>ericalopezhaz@gmail.com
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle @@portfolio @@portfolio-single" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Portfolio
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item @@portfolio" href="portfolio.html">Portfolio</a></li>
              <li><a class="dropdown-item @@portfolio-single" href="portfolio-single.html">Portfolio single</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--================== Header Section End ==================-->